.AboutPage {
  height: fit-content;
}

.aboutTittle {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.aboutImage {
  width: 800px;
  margin-left: 20px;
  margin-top: 20px;
}

.aboutImage img {
  height: 100%;
  width: 100%;
}

.aboutText {
  position: relative;
  text-align: justify;
  width: 60%;
  border: 1px solid #393e39;
  border-radius: 5px;
  padding: 15px;
  margin-top: -300px;
  margin-left: auto;
  background-color: #e7ece7;
  margin-bottom: 20px;
  margin-right: 50px;
}

.aboutText p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}
