.blogsPage {
  height: fit-content;
}
.blogsTitle {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.create {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #343a40;
  width: 250px;
  cursor: pointer;
  animation: fadeInUp 1s ease 1s forwards;
}
.create:hover {
  background-color: #ffffff;
  color: #343a40;
  transition: 0.5s;
}

.singleBlog {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #e7ece7;
  margin: 25px;
}
.introBlogs {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.userImg {
  width: 50px;
}
.userImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.mainBlog {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding: 15px;
  margin: 6px 0;
}
.containTitleContent {
  width: 80%;
}
.blogImg {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogImg img {
  width: 80px;
}

@media screen and (max-width: 630px) {
  .blogsTitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .create {
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;

    width: 150px;
  }
  .mainBlog {
    flex-direction: column;
  }
  .containTitleContent {
    width: 100%;
  }
  .description {
    margin-top: 10px;
  }

}
