.singleBlogPage {
  background-color: rgba(255, 255, 255, 0.644);
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.704);
  margin: 1rem auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
  line-height: 1.5;

  padding: 2rem;
}
.SingleblogTitle {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 30px;
}
.SingleDescription {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 1.5;
  font-style: italic;
  padding: 0.8rem 0;
}

.blogauthor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.LikeComment {
  display: flex;
  align-items: center;
  margin: 3rem 2rem;
  gap: 4rem;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.404);
  border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}
.like {
  color: rgba(0, 0, 0, 0.824);
}
.comment {
  color: rgba(0, 0, 0, 0.824);
}
.like:hover {
  color: rgba(0, 0, 0, 0.948);
  cursor: pointer;
}
.comment:hover {
  color: rgba(0, 0, 0, 0.948);
  cursor: pointer;
}
.titleComment {
  text-align: center;
  font-size: 20px;
}
.forComments {
  justify-content: center;
  min-height: 50vh;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
  position: relative;
  background-color: rgba(232, 233, 228, 0.841);
}
.textLike {
  font-size: 17px;
}
.textComment {
  font-size: 17px;
}

.deleteEditPost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: auto;
  margin-right: 1rem;
}

.ptag {
  font-size: 17px;
}
.backIcon {
  font-size: 27px;
}
