.updateMyBlog {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #a1b6a1ad;
  min-height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edityourblog{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 2rem 0;
}
.wrapBTN{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeBtn{
    width: 20%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.847);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
