.ContactPage {
  height: fit-content;
}

.contactTitle {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.forFormGif {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.contactGif {
  width: 550px;
  margin-bottom: 2rem;
}
.contactGif img {
  width: 100%;
  height: 100%;
}

.Form {
  width: 50%;
}
.myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #e7ece7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.inputField {
  width: 80%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* removes the default border on focus */
  outline: none;
}
.myTextArea {
  width: 80%;
  height: 180px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* disable resizing of text area */
  resize: none;
  outline: none;
}
.submitbtn {
  width: 35%;
  border-radius: 5px;
  background-color: #393e39;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  /* make the button with a little small and be in the center */
  align-self: center;
  margin-top: 15px;
}
.submitbtn:hover {
  background-color: #fff;
  color: #393e39;
  border: 1px solid #393e39;
  transition: all 0.5s ease-in-out;
}

.contactInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8x;
  background-color: #618261;
  width: 100%;
  height: fit-content;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.contactInfo ul li {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 1330px) {
  .contactTitle {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .contactGif {
    width: 400px;
    margin-bottom: 2rem;
  }
  .Form {
    border-radius: 8px;
    padding: 10px;
    width: 450px;
  }
  .inputField {
    width: 100%;
  }
  .myTextArea {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .contactTitle {
    font-size: 2rem;
    font-weight: 600;
  }
  .contactGif {
    display: none;
  }
  .Form {
    border-radius: 8px;
    padding: 15px;
    width: 80%;
  }
  .submitbtn {
    width: 30%;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .contactInfo {
    padding: 10px;
    border-radius: 8x;
  }
  .item {
    padding: 10px;
  }
  .contactInfo ul li {
    font-size: 1rem;
    font-weight: 400;
  }
  .contactInfo ul li {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 537px) {
  .contactTitle {
    font-size: 2rem;
    font-weight: 600;
  }
  .Form {
    border-radius: 8px;
    padding: 15px;
    width: 100%;
  }

  .myForm {
    padding: 10px;
  }
  .inputField {
    width: 100%;
  }
  .submitbtn {
    width: 35%;
    font-size: 1rem;
    font-weight: 500;
  }
  .contactInfo ul li {
    font-size: 1rem;
    font-weight: 500;
  }
}
